*
{
    margin: 0%;
    padding: 0%;
    overflow-x:hidden;
}
div{
    width: 1080px;
    height:100px;
    padding:5%;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav{
    width: 100%;
    position: absolute;
    top:0px;
    left: 20px;
    padding:20px;
    display: inline-flex;
    align-items:center ;
    justify-content:space-between ;
}
.logo{
    width: 1px;
    height: 1px;
}
nav ul li{
    list-style:none;
    display:inline-block;
    margin-right:200px;
    
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size:17px;    
}
 .content{
    text-align: center;
    display: grid;
    align-content: center;
}
.content h1{
    font-size: 160px;
    color:#fff;
    font-weight: 600;
}
.content a{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-top: 0cqmax;
    color: #fff;
    font-size: 24px;
    border:2px solid #fff;
    padding: 14px 70px;
    border-radius:50px ;
    margin-top: 20px;
}
video{
    position: absolute;
    right: 0;
    left: 0%;
    bottom: 0;
    z-index: -1;
 }

 div{
        width: 1080px;
        height:1080px;
}
.sssss{
    margin-bottom: 200%;
    border: 2px solid black;
    padding: 5px;
    font-size: medium;
    padding: 40px;
    font-weight:2px  ;
}